@import url("components/banner.css");
@import url("components/avatar.css");
@import url("components/background_pic.css");
.follow {
  font-family: Chivo;
  color: lightgreen;
}
h1, h2 {
  font-family: Chivo;
  color: white;
  margin: 2px;
  padding: 0;
}
.name {
  margin: 20px 0 20px 0;
}
.paragraph{
  font-family:Nunito;
  background-color: #f9ebc88d;
  color:brown;
  padding:15px;
  text-align:center;

}




.button{
  text-align:center;
}
a {
  text-align:center;
  text-decoration: none;
  color: darkblue;
  background-color: #BA6E6E;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}
a:hover{

  color:skyblue;
  border: 5px solid lightgrey;
  transition: 0.3s ease;
}
.follow {
  display: flex;
  justify-content: center;
}
