h1, h2 {
  font-family: Chivo;
  color: lightgreen;
}

.paragraph{
  font-family:Nunito;
  background-color: #f9ebc88d;
  color:brown;
  padding:15px;
  text-align:center;

}
.background{
  background-image: url("images/pexels-markus-spiske-1089438.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius:50%;
  margin: 25px;
}
.pic{
  text-align:center;
}

.button{
  text-align:center;
}
a {
  text-align:center;
  text-decoration: none;
  color: darkblue;
  background-color: #BA6E6E;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}
a:hover{

  color:skyblue;
  border: 5px solid lightgrey;
  transition: 0.3s ease;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
