.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/pexels-markus-spiske-1089438.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
